@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/lora/Lora-VariableFont_wght.ttf) format('ttf');
      src: url(./assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf) format('ttf');
    }
  }
